extends _layout/layout

block variables
	- var title = 'DominoPizza'
	- var bodyclass = ''

block css

block body 
	include _layout/header
	//- include _layout/banner
	main
		include _layout/ct-hotro
	include _layout/footer