nav.top-nav
	.container
		ul
			li
				a(href="#!") Cam kết
			li
				a(href="#!") Lịch sử
			li.active
				a(href="#!") Đặc tính
			li
				a(href="#!") Tin tức
			li
				a(href="#!") Tuyển dụng
section.about-page.clearfix
	.container
		h1.page-title.text-center Đặc tính nổi bật
		.about-specification
			.row
				.col-12.col-sm-6.col-md-3
					.speci-col
						figure
							.speci-img
								img(src="img/about/s1.png", alt="")
							figcaption
								h2.speci-name OUR CRUSTS
								.speci-des Our world famous hand-tossed pizza are hand-stretched from FRESH dough, made to order.
				.col-12.col-sm-6.col-md-3
					.speci-col
						figure
							.speci-img
								img(src="img/about/s2.png", alt="")
							figcaption
								h2.speci-name OUR CHEESE
								.speci-des We only use 100% mozzarella cheese
				.col-12.col-sm-6.col-md-3
					.speci-col
						figure
							.speci-img
								img(src="img/about/s3.png", alt="")
							figcaption
								h2.speci-name OUR SAUCES
								.speci-des Domino's signature sauce, BBQ Sauce
				.col-12.col-sm-6.col-md-3
					.speci-col
						figure
							.speci-img
								img(src="img/about/s4.png", alt="")
							figcaption
								h2.speci-name OUR TOPPINGS
								.speci-des We top our pizzas with only the highest quality meat and freshest ingredients