nav.top-nav
	.container
		ul
			li
				a(href="#!") Cam kết
			li.active
				a(href="#!") Lịch sử
			li
				a(href="#!") Đặc tính
			li
				a(href="#!") Tin tức
			li
				a(href="#!") Tuyển dụng
section.about-page.clearfix
	.container
		h1.page-title.text-center Lịch sử Domino's Pizza
		.about-history
			.milestone
				.img
					img(src="img/about/h1.png", alt="")
				.text
					h2.title 
						span.year 1960-1961 
						| Mọi thứ bắt đầu
					p Tom Managhan và anh trai mình, James mua lại “DomiNick’s” – một cửa hàng pizza tại Ypsilanti. Mich với giá 500 đô và đổi tên lại thành “Domino’s Pizza, Inc”
			.milestone
				.img
					img(src="img/about/h2.png", alt="")
				.text
					h2.title 
						span.year 1968-1975 
						|Điểm tối
					p vào nằm 1968, một vụ hỏa hoạn xảy làm trụ sở công ty cháy rụi. Vào nằm 1975, công ty Amstar Corp, một nhà cung cấp đường tên  Domino đã khởi kiện Domino’s Pizza về bản quyền.
			.milestone
				.img
					img(src="img/about/h3.png", alt="")
				.text
					h2.title 
						span.year 1978 
						|Tiếp tục phát triển
					p bỏ qua những điểm tối, Domino’s Pizza vẫn tiếp tục phát triển mạnh mẽ và đã mở ra hơn 200 cửa hàng nhượng quyền tại Mỹ.
			.milestone
				.img
					img(src="img/about/h4.png", alt="")
				.text
					h2.title 
						span.year 1983 
						|Domino’s Pizza
					p Tom Managhan và anh trai mình, James mua lại “DomiNick’s” – một cửa hàng pizza tại Ypsilanti. Mich với giá 500 đô và đổi tên lại thành “Domino’s Pizza, Inc”
			.milestone
				.img
					img(src="img/about/h5.png", alt="")
				.text
					h2.title 
						span.year 1985 
						|Tiếp tục phát triển
					p Domino’s Pizza mở thêm 954 cửa hàng nữa, nâng tổng số cửa hàng lên 2,841, trở thành chuỗi cửa hàng pizza phát triển nhanh nhất tại Mỹ.
					p Cửa hàng Domino’s Pizza đầu tiên mở tại Vương Quốc Anh, tại Luten
			.milestone
				.img
					img(src="img/about/h6.png", alt="")
				.text
					h2.title 
						span.year 1989 
						|The Deep Pan Pizza
					p sản phẩm mới được giới thiệu vào thực đơn và được mọi người yêu thích. Cửa hàng Domino’s Pizza thứ 5000 được mở ra.
			.milestone
				.img
					img(src="img/about/h7.png", alt="")
				.text
					h2.title 
						span.year 1996 
						|Đặt hàng trực tuyến
					p www.dominos.com được khai trương. Lúc này, doanh thu toàn cầu của công ty đạt 3 tỷ đô-la.
			.milestone
				.img
					img(src="img/about/h8.png", alt="")
				.text
					h2.title 
						span.year 1998 
						|Domino’s Heatwave ®
					p Tom Managhan và anh trai mình, James mua lại “DomiNick’s” – một cửa hàng pizza tại Ypsilanti. Mich với giá 500 đô và đổi tên lại thành “Domino’s Pizza, Inc”
			.milestone
				.img
					img(src="img/about/h9.png", alt="")
				.text
					h2.title 
						span.year 2000 
						|Cửa hàng 2000 trên toàn thế giới
					p Domino’s Pizza mở thêm 954 cửa hàng nữa, nâng tổng số cửa hàng lên 2,841, trở thành chuỗi cửa hàng pizza phát triển nhanh nhất tại Mỹ.
					p Cửa hàng Domino’s Pizza đầu tiên mở tại Vương Quốc Anh, tại Luten
			.milestone
				.img
					img(src="img/about/h10.png", alt="")
				.text
					h2.title 
						span.year 2010 
						|Kỷ niệm 50 năm thành lập
					p Năm 2010, đánh đấu mộc phát triển 50 năm của công ty. Mở cửa thị trường Việt Nam vào ngày 19/ 11/ 2010.