section.home-banner.clearfix
	.banner-img
		img(src="img/banner/1.jpg", alt="")
	nav.banner-nav
		a(href="#!")
			.link
				span.icon
					img(src="img/banner/i1.png", alt="")
				span.text Khuyến mãi mỗi ngày
		a(href="#!")
			.link
				span.icon
					img(src="img/banner/i2.png", alt="")
				span.text Thực đơn