section.support-page.clearfix
	.container
		h1.page-title.text-center Hỗ trợ khách hàng
		.customer-support
			.row.flex-content-center
				.col-12.col-sm-6.col-md-4
					.support-col
						figure
							.support-img
								img(src="img/icon/support1.png", alt="")
							figcaption
								h2.support-name
									a(href="#!") Quy định và hình thức thanh toán
				.col-12.col-sm-6.col-md-4
					.support-col
						figure
							.support-img
								img(src="img/icon/support2.png", alt="")
							figcaption
								h2.support-name
									a(href="#!") Chính sách đổi trả và hoàn tiền
				.col-12.col-sm-6.col-md-4
					.support-col
						figure
							.support-img
								img(src="img/icon/support3.png", alt="")
							figcaption
								h2.support-name
									a(href="#!") Chính sách vận chuyển, giao hàng