section.booking-page.b3.clearfix
	.container
		h1.page-title.text-center Đặt giao hàng
		.booking-form
			.row
				.col-form
					h2.form-title Thành viên Domino's Pizza
					.form-des Trở thành thành viên để nhận thêm nhiều ưu đãi
					.form-wrap.row
						.form-group.col-12
							label Nhập tài khoản
							input(type="text" placeholder="")
						.form-group.col-12
							label Nhập mật khẩu
							input(type="text" placeholder="")
						.btnlogin-wrap
							input(type="submit", value=" Đăng NHẬP")
							span.or Hoặc
							a.btn-register(href="#!") Đăng ký
					.social-login
						a.fa.fa-facebook(href="#!") Đăng nhập bằng Facebook
						a.fa.fa-google-plus(href="#!") Đăng nhập bằng Google+
				.col-or
					.or-wrap
						.or Hoặc
				.col-form
					.form-wrap.row
						.form-group.col-12
							label(for="") Tỉnh thành
							select(name="")
								option(value="") Hồ Chí Minh
						.form-group.col-12
							label(for="") Quận huyện
							select(name="")
								option(value="") Quận 1
						.form-group.col-12.col-md-4
							label(for="") Số nhà
							input(type="text")
						.form-group.col-12.col-md-8
							label(for="") Tên đường
							input(type="text")
						.form-group.col-12
							label(for="") Thời gian giao hàng
							select(name="")
								option(value="") Ngay khi có bánh
						.btn-wrap
							button.btn-book Bắt đầu chọn món


