nav.top-nav.s2
	.container
		ul
			li.active
				a(href="#!") Pizza
			li
				a(href="#!") Món ăn kèm
			li
				a(href="#!") Giải khát
			li
				a(href="#!") Tráng miệng
.container
	.row
		.col-12.col-lg-8.col-xl-9
			section.booking-page.b2.clearfix
				.product-group.clearfix
					.title-wrap
						h2.group-name Signature
						.price-list
							.group-price
								.price-title
									strong Large
									span 8 miếng
								.price 279.000
							.group-price
								.price-title
									strong Medium
									span 6 miếng
								.price 179.000
					.product-list.clearfix
						.row
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng

				.product-group.clearfix
					.title-wrap
						h2.group-name Premium
						.price-list
							.group-price
								.price-title
									strong Large
									span 8 miếng
								.price 219.000
							.group-price
								.price-title
									strong Medium
									span 6 miếng
								.price 139.000
							.group-price
								.price-title
									strong Small
									span 4 miếng
								.price 79.000
					.product-list.clearfix
						.row
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
											.promotion
												span.new New
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng

				.product-group.clearfix
					.title-wrap
						h2.group-name Premium
						.price-list
							.group-price
								.price-title
									strong Large
									span 8 miếng
								.price 219.000
							.group-price
								.price-title
									strong Medium
									span 6 miếng
								.price 139.000
							.group-price
								.price-title
									strong Small
									span 4 miếng
								.price 79.000
					.product-list.clearfix
						.row
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
											.promotion
												span.new New
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng

				.product-group.clearfix
					.title-wrap
						h2.group-name Premium
						.price-list
							.group-price
								.price-title
									strong Large
									span 8 miếng
								.price 219.000
							.group-price
								.price-title
									strong Medium
									span 6 miếng
								.price 139.000
							.group-price
								.price-title
									strong Small
									span 4 miếng
								.price 79.000
					.product-list.clearfix
						.row
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
											.promotion
												span.new New
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng

		.col-12.col-lg-4.col-xl-3
			section.booking-bill.clearfix
				.voucher
					.module-title Nhập mã khuyến mãi
					.voucher-input
						input(type="text" placeholder="Voucher code")
						button.vouchersubmit <i class="fa fa-paper-plane" aria-hidden="true"></i>
				.booking-detail
					.title Chi tiết đơn hàng
					.booking-table
						.product
							h4.product-name 1x Prime Beef, cỡ vừa, đế mỏng
							.product-price 179.000 đ
							.btn-wrap
								a.btn-change(href="#!") Thay đổi
								a.btn-remove(href="#!") Bỏ chọn
						.product
							h4.product-name 1x Almond Citrus seafood, cỡ vừa, đế mỏng
							.product-price 179.000 đ
							.btn-wrap
								a.btn-change(href="#!") Thay đổi
								a.btn-remove(href="#!") Bỏ chọn
					.total-fee
						.label Tổng cộng
						.value 358.000 đ
					.address-info
						.address
							.address-name Cửa hàng giao
							.address-detail 236 Đinh Tiên Hoàng, Phường Đakao, Quận 1, TP.HCM
						.address
							.address-name Nơi đặt hàng
							.address-detail 156 Nguyễn Văn Thủ, Phường Đakao, Quận 1, TP.HCM
				.btnpay-wrap
					a.btn-pay(href="#!") Thanh toán