//- nav.top-nav.s2
	.container
		ul
			li.active
				a(href="#!") Pizza
			li
				a(href="#!") Món ăn kèm
			li
				a(href="#!") Giải khát
			li
				a(href="#!") Tráng miệng
.container
	section.booking-page.b5.clearfix
		h1.page-title.text-center Đặt hàng thành công
		.booking-progress
			.step-list
				.step.step-1.active
					.step-icon
						img(src="img/icon/step1.png", alt="")
					.step-name Đặt hàng
				.step.step-2
					.step-icon
						img(src="img/icon/step2.png", alt="")
					.step-name Chuẩn bị
				.step.step-3
					.step-icon
						img(src="img/icon/step3.png", alt="")
					.step-name Nướng
				.step.step-4
					.step-icon
						img(src="img/icon/step4.png", alt="")
					.step-name Đóng gói
				.step.step-5
					.step-icon
						img(src="img/icon/step5.png", alt="")
					.step-name Giao hàng
			.progress-list
				.progress.progress-1.active
					.progress-img
						img(src="img/icon/progress1.png", alt="")
				.progress.progress-2
					.progress-img
						img(src="img/icon/progress2.png", alt="")
				.progress.progress-3
					.progress-img
						img(src="img/icon/progress3.png", alt="")
				.progress.progress-4
					.progress-img
						img(src="img/icon/progress4.png", alt="")
				.progress.progress-5
					.progress-img
						img(src="img/icon/progress5.png", alt="")
		.thankyou-content
			h2.title Cảm ơn quý khách đã đặt hàng tại Domino's Pizza Việt Nam
			.content Domino’s Pizza xác nhận vừa nhận được đơn hàng của khách với mã số 
				strong.id #123456
				|. Đơn hàng của quý khách sẽ được giao tận nơi trước 10:43AM ngày 02.10.2017. Vui lòng xác nhận đơn hàng qua SMS hoặc email.
		.btn-wrap.text-center
			a.btn-finish(href="#!") Hoàn thành