section.booking-step
	.container
		.step-list
			.step.finish
				.number 1.
				.name Pizza
			.step.active
				.number 2.
				.name Món ăn kèm
			.step
				.number 3.
				.name Giải khát
			.step
				.number 4.
				.name Tráng miệng
.container
	.row
		.col-12.col-lg-8.col-xl-9
			section.booking-page.b2.clearfix
				.product-group.clearfix
					.title-wrap
						h2.group-name Signature
						.price-list
							.group-price
								.price-title
									strong Large
									span 8 miếng
								.price 279.000
							.group-price
								.price-title
									strong Medium
									span 6 miếng
								.price 179.000
					.product-list.clearfix
						.row
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
				.product-group.clearfix
					.title-wrap
						h2.group-name Premium
						.price-list
							.group-price
								.price-title
									strong Large
									span 8 miếng
								.price 219.000
							.group-price
								.price-title
									strong Medium
									span 6 miếng
								.price 139.000
							.group-price
								.price-title
									strong Small
									span 4 miếng
								.price 79.000
					.product-list.clearfix
						.row
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
											.promotion
												span.new New
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
				.btn-bookingwrap
					a.btn-continue(href="#!") Tiếp tục

				//- .product-group.clearfix
					.title-wrap
						h2.group-name Premium
						.price-list
							.group-price
								.price-title
									strong Large
									span 8 miếng
								.price 219.000
							.group-price
								.price-title
									strong Medium
									span 6 miếng
								.price 139.000
							.group-price
								.price-title
									strong Small
									span 4 miếng
								.price 79.000
					.product-list.clearfix
						.row
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
											.promotion
												span.new New
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng

				//- .product-group.clearfix
					.title-wrap
						h2.group-name Premium
						.price-list
							.group-price
								.price-title
									strong Large
									span 8 miếng
								.price 219.000
							.group-price
								.price-title
									strong Medium
									span 6 miếng
								.price 139.000
							.group-price
								.price-title
									strong Small
									span 4 miếng
								.price 79.000
					.product-list.clearfix
						.row
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
											.promotion
												span.new New
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng
							article.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4
								.product-col
									figure
										a.product-img(href="#!")
											img(src="img/product/1.png", alt="")
										figcaption
											h3.product-name
												a(href="#!") Prime beef
											.product-des Bò viên kiểu Ý, thịt bò xé
											.btn-wrap
												a.btn-buy(href="#!") Thêm vào đơn hàng

		.col-12.col-lg-4.col-xl-3
			section.booking-bill.clearfix
				.voucher
					.module-title Nhập mã khuyến mãi
					.voucher-input
						input(type="text" placeholder="Voucher code")
						button.vouchersubmit <i class="fa fa-paper-plane" aria-hidden="true"></i>
				.booking-detail
					.title Chi tiết đơn hàng
					.booking-table
						.product
							h4.product-name 1x Prime Beef, cỡ vừa, đế mỏng
							.product-price 179.000 đ
							.btn-wrap
								a.btn-change(href="#!") Thay đổi
								a.btn-remove(href="#!") Bỏ chọn
						.product
							h4.product-name 1x Almond Citrus seafood, cỡ vừa, đế mỏng
							.product-price 179.000 đ
							.btn-wrap
								a.btn-change(href="#!") Thay đổi
								a.btn-remove(href="#!") Bỏ chọn
					.total-fee
						.label Tổng cộng
						.value 358.000 đ
					.address-info
						.address
							.address-name Cửa hàng giao
							.address-detail 236 Đinh Tiên Hoàng, Phường Đakao, Quận 1, TP.HCM
						.address
							.address-name Nơi đặt hàng
							.address-detail 156 Nguyễn Văn Thủ, Phường Đakao, Quận 1, TP.HCM
					a.notice(href="#!") Chọn thức ăn kèm
				.btnpay-wrap
					a.btn-pay(href="#!") Thanh toán
.popup-wrap
	.popup-overlay
	.product-popup
		.btn-closepopup <i class="material-icons">close</i>
		.row
			.col-12.col-md-6
				.popup-product
					figure
						figcaption
							h3.product-name Prime Beef
							.product-des Sốt phô mai, Sốt cà chua, Phô mai Mozzarella, Bò viên kiểu Ý, Thịt bò xé, Hành tây, Cà chua.
						.product-img
							img(src="img/product/b1.png", alt="")
						.product-price 179.000 VND
			.col-12.col-md-6
				.popup-option
					.row
						.col-12.col-sm-6
							.option-group
								.title Chọn cỡ bánh
								ul.option-list
									li.checkbox
										input#cb1(type="checkbox", name="checkbox")
										label(for="cb1") Cỡ nhỏ - 7 inch
									li.checkbox
										input#cb2(type="checkbox", name="checkbox")
										label(for="cb2") Cỡ vừa - 9 inch
									li.checkbox
										input#cb3(type="checkbox", name="checkbox")
										label(for="cb3") Cỡ lớn - 12 inch
						.col-12.col-sm-6
							.option-group
								.title Chọn đế bánh
								ul.option-list
									li.checkbox
										input#cb4(type="checkbox", name="checkbox")
										label(for="cb4") Đế mỏng
									li.checkbox
										input#cb5(type="checkbox", name="checkbox")
										label(for="cb5") Đế dày
						.col-12
							.option-group
								.title Tùy chọn topping
								ul.option-list
									li.checkbox
										input#cb6(type="checkbox", name="checkbox")
										label(for="cb6")
											.option
												.name Gấp đôi phô mai
												.value 19.000 VND
									li.checkbox
										input#cb7(type="checkbox", name="checkbox")
										label(for="cb7")
											.option
												.name Thêm thịt
												.value 29.000 VND
						.col-12
							.option-group
								.title Tùy chọn viền
								ul.option-list
									li.checkbox
										input#cb8(type="checkbox", name="checkbox")
										label(for="cb8")
											.option
												.name Viền phô mai
												.value 19.000 VND
									li.checkbox
										input#cb9(type="checkbox", name="checkbox")
										label(for="cb9")
											.option
												.name Viền xúc xích
												.value 19.000 VND
					.btn-popupwrap
						a.btn-continue(href="#!") Thêm vào giỏ hàng
		
