section.booking-page.b1.clearfix
	.container
		h1.page-title.text-center Hình thức đặt hàng
		.booking-method
			.module-title Qúy khách vui lòng lựa chọn phương thức giao hàng phù hợp với nhu cầu của minh
			.method-list
				a(href="#!")
					.link
						span.icon
							img(src="img/quytrinh/i1.png", alt="")
						span.text Đặt giao hàng
				span.or Hoặc
				a(href="#!")
					.link
						span.icon
							img(src="img/quytrinh/i2.png", alt="")
						span.text Đặt đến lấy
		.login-promotion
			.title Thành viên Domino’s Pizza
			.des Trở thành thành viên để nhận thêm nhiều ưu đãi. 
				a(href="#!") Đăng nhập 
				|hoặc 
				a(href="#!") Đăng ký 
				|tại đây!