footer
	.container
		.footer-wrap
			.copyright © 2017 DOMINO'S PIZZA VIETNAM | 
				a(href="#!") PRIVACY POLICY
			.colright
				.hotline
					label
						strong HOTLINE
						|Đặt hàng
					a(href="tel:19006099") 1900 6099
				.cert
					a(href="#!")
						img(src="img/master.png", alt="")
					a(href="#!")
						img(src="img/bct.png", alt="")